<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.pgLandlords"
        tools:targetApi="31">
        <activity
            android:name=".GetLandLordDetails"
            android:label="Admin Reply"
            android:exported="false" />
        <activity
            android:name=".MyProperties"
            android:label="My Properties"
            android:exported="false" />
        <activity
            android:name=".ProfileUpdate"
            android:exported="true"
            android:label="Profile Update" />
        <activity
            android:name=".Profile"
            android:exported="true"
            android:label="Profile" />
        <activity
            android:name=".AddLandlord"
            android:exported="true"
            android:label="Add Landlord" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="PG LANDLORDS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserRegister"
            android:label="Sign Up" />
        <activity
            android:name=".Properties"
            android:label="All Properties" />
        <activity
            android:name=".CreateProperties"
            android:label="Add Property" />
        <activity
            android:name=".UpdateProperty"
            android:label="Edit Property" />
    </application>

</manifest>